/*('https://fonts.googleapis.com/css?family=Lato:400,700');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700');
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
}

/*---navbar--*/

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .1rem;
    background: #210F21!important;
    
    
}


.navbar-brand img {
   
    height: 2.5rem;
}
li{
    padding-left:2em;
}
    
}

.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
    
}
.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link:hover{
    color:#7D287D;
   
}
.home-inner{
    background-image: url(img/c.jpg);
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute ;
    top: 25%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}


.caption p{
   font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .1rem;
   
    padding-bottom: 5rem;
    
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;

    text-shadow: .1rem .1rem .1rem black;
    padding-bottom: 1rem;
   
}



.center {
  margin: auto;
  width: 90%;
  padding: 10px;
}

footer {
   
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: #210F21;
    
}


footer img {
    height: 4rem;
}
.copyright{
 color:#7D287D;
}
.btn {
  background-color:#210F21;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}
.btn:hover{
    background-color:#7D287D;
    color:black;
    font-size: 16px;
}
.btnkerala {
    background-color:#210F21;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    
    transition: 0.3s;
  }
  .btnkerala:hover{
    background-color:#7D287D;
    color:black;
    font-size: 16px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* imp dates*/
.container{
    margin-top: 0%;
    align-items:center ;
}

.card{
    align-items:left;
}
.card:hover{
    box-shadow: -1px 9px 30px -12px rgba(0,0,0,0.60);
    box-shadow: -1px 9px 30px -12px rgba(0,0,0,0.60);
    box-shadow: -1px 9px 30px -12px rgba(0,0,0,0.60);

}
/*cards*/

*{
    margin: 0;
    padding: 0;
    

}
.cards{
    font-size: 15px;
    margin:0 0 30px 0;
    text-align: center;
    padding: 60px;
}

.dates{
    display:flex;
    align-items: center;
}
.date h2{
    font-size: 20px;
}
.date{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border:2px solid black;
    border-radius: all .3s ease;
}
.date > *{
    flex: 1 1 100%;
}
.date p{
    font-size: 17px;
}
.date a{
    margin: 22px 0;
    background: #210F21;
    color: wheat;
    border: 1px solod #210F21;
    padding: 5px 0;
    border-radius: 35px;
    transition: .3s eaes;
}
@media (max-width:900px){
    .dates{
        display: flex;
        flex-direction: column;
    }
}
.date:hover{
    color: white;

}
.date:hover{
    background: #210F21 ;
}
.date:hover a{
    background: white;
    color: black;
}
.date a:hover{
    border-radius: 4px;
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
